body{
    margin: 0;
    padding:0;
    display: flex;
}
.div1{
    background-color: cadetblue;
    padding: 25px;
    margin: 50px;
    border-style:solid ;
    
    border-color: yellowgreen;
    border-radius: 30px;
   
    outline: 1px solid rgb(243, 4, 243);
    outline-offset: 20px;
    width: 20%;
    
}

.par1{

    margin:20px;
    padding: 25px;
    border-radius: 25px;
    border-style: solid;
    border:10px solid tomato;
    background-color:rgb(226, 228, 224);
    text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
    
}
.head1{

    text-align: center;
    border: 5px solid orangered;
    padding: 5px;
    border-radius: 25px;
    background-color: orchid;
    

}
.div2{
    width: 35%;
    padding: 5px;
    text-align: center;
    margin: 50px;
    border: 5px solid darkgreen;
    background-repeat: ;
    background-clip: content-box;
    border-style: double;
    


    background-image: url(../HTML/images/flowerborder.jpg);

}
.head2{
    padding: 5px;
    margin: 25px;
    font-size: 3vw;
    font-family: Sofia;
    text-decoration: underline aquamarine;
    text-transform: uppercase;
    font: small-caps;
    


}
.par2{
    padding: 5px;
    align-content: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  

}