div{
    
    width: 100px;
    height: 150px;
    background-color: aquamarine;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colorchange{
    from{background-color: aquamarine;}
    to{background-color: goldenrod;}
} 
.div1{
    position: relative;
    
    width: 150px;
    height: 150px;
background-color: orange;    
animation-name: colors;
animation-duration: 5s;
animation-delay: 2s;
animation-iteration-count: 4;
animation-direction: reverse;

}
@keyframes colors{
    0%{background-color: orange;left: 0px;top: 0px;
    }
    25%{
        background-color: blue;left: 200px;top: 0px;
    }
    50%{
        background-color: chartreuse;left: 200px;top: 200px;
    }
    75%{background-color: coral;left:0px;top: 200px;}
    100%{background-color: hotpink;left: 0px;top: 0px;}
}