body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    padding: 1em;
    background-color: rgb(94, 235, 152);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat();
    grid-gap:1em
}
.container > .example{
    background-color: lightcoral;
    grid-column-start: 1;
    grid-column-end: 4;
}