body{

    background: rgb(250, 214, 114);

}
.logo{
    text-indent: -999999px;
    background: url('logo.jpg');
    width: 200px; 
    height: 200px; 
}
.spring{
    background: rgb(14, 97, 93);
}
.winter{
    background: rgb(80, 76, 76);
}
.summer{
    background: rgb(33, 71, 95);
}
.contact{
    text-align: left;
    text-decoration-line: underline;
    text-decoration-color: mediumblue;
    text: emphasis 7px; 
    font-style: italic;
}
.socialmedia h2{
    text-align: left;

}
.library{
    background-color: rgb(76, 83, 9);
}
.socialmedia{
    
    width:300px;
    height:400px;
    background:#8BC34A;
    overflow:hidden;
}
#container{
    margin: 0;
    width: 0;
    padding: top 50%; ;
}
.contact{
    background:#FFEB3B;
  width:300px;
  height:400px;
  float:left;
}
